.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}
.fs_36 {
  font-size: 36px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.w-80 {
  width: 80%;
}
.not-checked {
  color: #d6d3cf;
}
.checked {
  color: #fd9a1c;
}
.dec_none {
  text-decoration: none;
}

.sh_hover {
  &:hover {
    box-shadow: 5px 5px 10px #ccc;
  }
}

.br-8 {
  border-radius: 8px;
}

.br-10 {
  border-radius: 10px;
}

.br-16 {
  border-radius: 16px;
}

.form-select:focus {
  box-shadow: 0px 0px 4px $primary;
}

.hover_pri {
  color: $primary;
}

.b-pri {
  border-color: $primary;
}

.b-100 {
  border-radius: 100%;
}

.p_relative {
  position: relative;
}

a {
  &:hover {
    color: $primary;
  }
}

.btn_fs {
  font-size: clamp(20px, 1.1vw, 28px);
}

.cus_counter {
  .content {
    text-align: center;
    .count_span {
      font-size: 12px;
      border: 1px solid $primary;
      background-color: $primary;
      color: #fff;
      border-radius: 40px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 2.5;
      box-shadow: 0px 3px 6px #00000029;
      margin-bottom: 5px;
    }
    .cus_small {
      color: $primary;
      font-weight: bold;
    }
  }
}

.afterv1 {
  &::after {
    content: "";
    border: 1px solid $primary;
    display: block;
    width: 64px;
    text-align: center;
    margin: 0 auto;
  }
}
