.t_primary {
  color: $primary;
}
.bg_primary {
  background-color: $primary;
}
.t_sec {
  color: $secondary;
}
.bg_sec {
  background-color: $secondary;
}
.t_light {
  color: $light;
}
.bg_light {
  background-color: $light;
}
.t_darkv1 {
  color: $darkv1;
}
.bg_darkv1 {
  background-color: $darkv1;
}
.t_darkv2 {
  color: $darkv2;
}
.bg_darkv2 {
  background-color: $darkv2;
}
.t_darkv3 {
  color: $darkv3;
}
.bg_darkv3 {
  background-color: $darkv3;
}
.t_darkv4 {
  color: $darkv4;
}
.bg_darkv4 {
  background-color: $darkv4;
}
//
.t-dark {
  color: #090909;
}
.t-darkv1 {
  color: #464348;
}
.t-white {
  color: #ffffff !important;
}
