@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url("../fonts/DroidArabicKufi.eot");
  src: url("../fonts/DroidArabicKufi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidArabicKufi-Bold.woff2") format("woff2"), url("../fonts/DroidArabicKufi-Bold.woff") format("woff"), url("../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url("../fonts/DroidArabicKufi.eot");
  src: url("../fonts/DroidArabicKufi.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidArabicKufi.woff2") format("woff2"), url("../fonts/DroidArabicKufi.woff") format("woff"), url("../fonts/DroidArabicKufi.svg#DroidArabicKufi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #691817;
  --secondary: #F5F5F7;
  --light: #595959;
  --darkv1: #2f4858;
  --darkv2: #233e50;
  --darkv3: #163345;
  --darkv4: #263238;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}

.fs_36 {
  font-size: 36px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.w-80 {
  width: 80%;
}

.not-checked {
  color: #d6d3cf;
}

.checked {
  color: #fd9a1c;
}

.dec_none {
  text-decoration: none;
}

.sh_hover:hover {
  -webkit-box-shadow: 5px 5px 10px #ccc;
          box-shadow: 5px 5px 10px #ccc;
}

.br-8 {
  border-radius: 8px;
}

.br-10 {
  border-radius: 10px;
}

.br-16 {
  border-radius: 16px;
}

.form-select:focus {
  -webkit-box-shadow: 0px 0px 4px var(--primary);
          box-shadow: 0px 0px 4px var(--primary);
}

.hover_pri {
  color: var(--primary);
}

.b-pri {
  border-color: var(--primary);
}

.b-100 {
  border-radius: 100%;
}

.p_relative {
  position: relative;
}

a:hover {
  color: var(--primary);
}

.btn_fs {
  font-size: clamp(20px, 1.1vw, 28px);
}

.cus_counter .content {
  text-align: center;
}

.cus_counter .content .count_span {
  font-size: 12px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2.5;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 5px;
}

.cus_counter .content .cus_small {
  color: var(--primary);
  font-weight: bold;
}

.afterv1::after {
  content: "";
  border: 1px solid var(--primary);
  display: block;
  width: 64px;
  text-align: center;
  margin: 0 auto;
}

.t_primary {
  color: var(--primary);
}

.bg_primary {
  background-color: var(--primary);
}

.t_sec {
  color: var(--secondary);
}

.bg_sec {
  background-color: var(--secondary);
}

.t_light {
  color: var(--light);
}

.bg_light {
  background-color: var(--light);
}

.t_darkv1 {
  color: var(--darkv1);
}

.bg_darkv1 {
  background-color: var(--darkv1);
}

.t_darkv2 {
  color: var(--darkv2);
}

.bg_darkv2 {
  background-color: var(--darkv2);
}

.t_darkv3 {
  color: var(--darkv3);
}

.bg_darkv3 {
  background-color: var(--darkv3);
}

.t_darkv4 {
  color: var(--darkv4);
}

.bg_darkv4 {
  background-color: var(--darkv4);
}

.t-dark {
  color: #090909;
}

.t-darkv1 {
  color: #464348;
}

.t-white {
  color: #ffffff !important;
}

header .header_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .head_ar1 .az_col4 .social .icon {
  padding: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--primary);
  background-color: #fff;
  border-radius: 40px;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

header .head_ar1 .az_col4 .social .icon:hover {
  color: #fff;
  background-color: var(--primary);
}

header .head_ar2 .az_col11 .img_wrapper {
  max-width: 300px;
  margin: 0 auto;
}

header .head_ar2 .az_icons .cartbtn {
  background-color: transparent;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

header .head_ar2 .az_icons .cartbtn:hover {
  background-color: var(--primary);
  border-color: #fff;
}

header .head_ar2 .az_icons .cartbtn:hover .icon {
  color: #fff;
}

header .head_ar2 .az_hambger .az_toggle span {
  width: 20px;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary);
  margin: 3px 0;
  border-radius: 2px;
}

header .head_ar2 .az_hambger .az_toggle span:first-child {
  border-radius: 10px 10px 0px 0;
}

header .head_ar2 .az_hambger .az_toggle span:last-child {
  border-radius: 0 0 10px 10px;
}

header .head_ar3 .az_menu .list_item {
  padding: 12px;
  text-align: center;
}

header .head_ar3 .az_menu .list_item.azmega_menu {
  background-color: var(--primary);
  min-width: 150px;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu {
  -webkit-transform: none !important;
          transform: none !important;
  inset: unset;
  top: 2.98rem !important;
  left: 0 !important;
  border-radius: 0;
  min-width: unset;
  border: 0;
  width: 100%;
  text-align: right;
  padding-top: 12px;
  padding-bottom: 12px;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu .drop_li {
  padding: 8px 10px;
  background-color: var(--primary);
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu .drop_li .nav_link {
  color: #fff;
  width: 100%;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu .drop_li .nav_link .icon {
  float: left;
  padding-top: 8px;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu .drop_li:last-child {
  border-bottom: 0;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu .dropstart .dropdown-menu {
  -webkit-transform: translate(-142px, 8px) !important;
          transform: translate(-142px, 8px) !important;
  background-color: #ccc;
  padding: 12px 24px 0;
  right: 2rem !important;
  top: 0 !important;
  list-style: disc;
  width: 200%;
}

header .head_ar3 .az_menu .list_item.azmega_menu .dropdown-menu .dropstart .nochAfter::after {
  content: "";
  position: absolute;
  top: 5%;
  right: -8%;
  z-index: 9;
  border-top: 13px solid transparent;
  border-right: 27px solid #ccc;
  border-bottom: 13px solid transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .head_ar3 .az_menu .list_item.azmega_menu .icon {
  color: #fff;
}

header .head_ar3 .az_menu .list_item .single_drop {
  width: 400%;
  -webkit-transform: translate(-190px, 4px) !important;
          transform: translate(-190px, 4px) !important;
  top: 3.5rem !important;
  padding: 12px 20px 0;
  list-style: disc;
  background-color: #ccc;
}

header .head_ar3 .az_menu .list_item .single_drop::after {
  content: "";
  position: absolute;
  top: -15%;
  right: 20%;
  z-index: 9;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 20px solid #ccc;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .head_ar3 .tgle.show .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .nav_fs {
  font-size: clamp(15px, 1.1vw, 28px);
}

header .overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 98;
  display: none;
}

header .aside {
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 20px 0px;
  position: fixed;
  right: -100%;
  top: 0px;
  height: 100%;
  width: 80%;
  z-index: 999;
  -webkit-box-shadow: 0 4px 24px 0 #22292f;
          box-shadow: 0 4px 24px 0 #22292f;
  overflow: auto;
  transition: all 0.5s ease-in-out;
}

header .aside.asideOpen {
  right: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .aside .az_head .cus_lang {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .aside .az_head .cus_lang .form-select {
  background-image: none;
  padding: 8px 12px;
  text-align: center;
  max-width: 130px;
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 700;
  border-radius: 8px;
}

header .aside .az_head .az_grid .grid_ul .item .nav_linkv1 {
  font-size: clamp(15px, 2vw, 28px);
}

header .aside .az_foo .foo_h2 {
  font-size: clamp(32px, 5vw, 40px);
}

header .aside .az_foo .foo_p {
  font-weight: bold;
  padding: 12px 18px;
}

header .aside .head_ar3 .list_item {
  text-align: right;
}

header .aside .head_ar3 .list_item.azmega_menu .tgle {
  width: 100%;
  text-align: right;
}

header .aside .head_ar3 .list_item.azmega_menu .tgle .icon {
  float: left;
  padding: 8px 0 0 0;
}

header .aside .head_ar3 .list_item.azmega_menu .dropdown-menu .dropstart .dropdown-menu {
  -webkit-transform: unset !important;
          transform: unset !important;
  right: 0 !important;
  width: 100%;
  top: 2.6rem !important;
}

header .aside .head_ar3 .list_item.azmega_menu .dropdown-menu .drop_li .nav_link .icon {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

header .aside .head_ar3 .list_item.azmega_menu .dropdown-menu .drop_li .nav_link.show .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 22px;
}

header .aside .head_ar3 .list_item .single_drop {
  width: 100%;
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

header .aside .head_ar3 .list_item .single_drop::after {
  right: 5%;
}

.bg_pinkh {
  background-color: #f9d9db;
}

.bg_pistah {
  background-color: #eeffcc;
}

.bg_yelowish {
  background-color: #ffedcc;
}

.bg_greenish {
  background-color: #e2f0e0;
}

.azh_002 .zv2_card .head h3 {
  font-size: clamp(18px, 2vw, 30px);
}

.azh_002 .zv2_card .z_content .left span,
.azh_002 .zv2_card .z_content .left a {
  font-size: clamp(12px, 2vw, 18px);
}

.azh_002 .zv2_card .z_content .right .img_wrapper {
  min-width: 80px;
}

.azh_003 .c00_head .slick_arr .icon {
  color: #fff;
  font-size: 25px;
}

.azh_003 .c00_head .slick_arr .leftBtn,
.azh_003 .c00_head .slick_arr .rightBtn {
  border: 0;
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.azh_003 .zv3_card {
  -webkit-box-shadow: 0px 5px 15px #0000001c;
          box-shadow: 0px 5px 15px #0000001c;
}

.azh_003 .zv3_card .c00_foo .f00Btn {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.azh_003 .zv3_card .c00_foo .f00Btn:hover, .azh_003 .zv3_card .c00_foo .f00Btn.active {
  color: #fff;
  background-color: var(--primary);
}

.azh_003 .zv3_card .c00_foo .fooicon {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  padding: 5px;
  border-radius: 40px;
  margin-right: 12px;
  line-height: 2px;
}

.azh_003 .zv3_card .c00_foo .fooicon.active {
  color: #fff;
  background-color: #e52828;
}

.azh_004 .zv4_card {
  -webkit-box-shadow: 0px 10px 20px #00000029;
          box-shadow: 0px 10px 20px #00000029;
  border-radius: 25px;
  position: relative;
  min-height: 180px;
  margin: 4rem 1rem;
  padding-top: 4rem;
}

.azh_004 .zv4_card .img_wrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ccc;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.azh_005 .input_group {
  border: 1px solid;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

.azh_005 .input_group .g_input {
  color: #464348;
}

.azh_005 .input_group .g_input::-webkit-input-placeholder {
  color: #464348;
}

.azh_005 .input_group .g_input:-ms-input-placeholder {
  color: #464348;
}

.azh_005 .input_group .g_input::-ms-input-placeholder {
  color: #464348;
}

.azh_005 .input_group .g_input::placeholder {
  color: #464348;
}

.azh_005 .input_group .g_input:focus {
  outline: none;
}

.azh_005 .input_group .inputBTn {
  min-width: 140px;
  text-align: center;
}

@media (max-width: 991px) {
  header .header_grid .head_ar1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .header_grid .head_ar2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 600px) {
  header .head_ar1 .az_col4 .social .icon {
    padding: 2px;
    width: 10px;
    height: 10px;
  }
  header .head_ar2 .az_icons .cartbtn {
    padding: 0 3px !important;
    line-height: 1;
  }
  header .head_ar2 .az_icons .cartbtn .icon {
    font-size: 10px;
    padding: 0 0 2px 0;
  }
  .azh_005 .input_group .inputBTn {
    min-width: 100px;
  }
}

@media (min-width: 1700px) {
  header .head_ar3 .az_menu .list_item .single_drop {
    -webkit-transform: translate(-232px, 4px) !important;
            transform: translate(-232px, 4px) !important;
  }
}
/*# sourceMappingURL=style.css.map */